@using HotSauce.ViewModels

@model RegisterViewModel
<div class="list">
    <h2>Register a new user</h2>
    <hr />

    @if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
    }

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {

        @Html.TextBoxFor(user => user.Email)
        <p>Email</p>
        <br>

        @Html.EditorFor(user => user.Password)
        <p>Password</p>
        <br>

        @Html.EditorFor(user => user.ConfirmPassword)
        <p>Confirm Password</p>
        <input type="submit" value="Register" />
    }

    <p>@Html.ActionLink("Back to accounts page", "Index")</p>
</div>