@model HotSauce.Models.Sauce

<h2>Edit Sauce</h2>

<h4>Edit this sauce: @Html.DisplayFor(model => model.Name)</h4>

@{
    ViewData["Title"] = "Edit Recipe";
    Layout = "_Layout";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.SauceId)


    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)


    @Html.LabelFor(model => model.ImageUrl)
    @Html.EditorFor(model => model.ImageUrl)

    <h3>Edit Flavor Tags:</h3>
    <div id="flavorContainer">
    @for (int i = 0; i < Model.JoinEntities.Count; i++)
        {
            <div class="flavor">
                <label for="Flavors">Flavor Tag:</label>
                @Html.TextBoxFor(m => m.JoinEntities[i].Flavor.Name, new { required = "required" })
                <button type="button" class="removeFlavor">Remove</button>
            </div>
        }
    </div>
    <button type="button" id="addFlavor">Add Flavor Tag</button>

    <input type="submit" value="Save" />
}

@Html.ActionLink("Cancel", "Details", new { id = Model.SauceId })

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const container = document.getElementById("flavorContainer");

        container.addEventListener("click", function (event) {
            if (event.target.classList.contains("removeFlavor")) {
                const flavorDiv = event.target.closest(".flavor");
                console.log("Removing flavor div:", flavorDiv);
                console.log("Container children before removal:", Array.from(container.children));

                container.removeChild(flavorDiv);

                console.log("Container children after removal:", Array.from(container.children));
            }
        });

        const addFlavorButton = document.getElementById("addFlavor");
        addFlavorButton.addEventListener("click", function () {
            const newFlavorDiv = document.createElement("div");
            newFlavorDiv.className = "flavor";

            const index = container.children.length;

            newFlavorDiv.innerHTML = `
                <label for="JoinEntities_${index}__Flavor_Name">Flavor Tag:</label>
                <input type="text" id="JoinEntities_${index}__Flavor_Name" name="JoinEntities[${index}].Flavor.Name" required />
                <button type="button" class="removeFlavor">Remove</button>
            `;

            container.appendChild(newFlavorDiv);
        });
    });
</script>
